# [task_management]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [task_management]    Script Date: 09-08-2022 16:41:31 ******/
CREATE DATABASE [task_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Admin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Admin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Admin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Admin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [task_management] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [task_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [task_management] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [task_management] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [task_management] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [task_management] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [task_management] SET ARITHABORT OFF 
GO
ALTER DATABASE [task_management] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [task_management] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [task_management] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [task_management] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [task_management] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [task_management] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [task_management] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [task_management] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [task_management] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [task_management] SET  DISABLE_BROKER 
GO
ALTER DATABASE [task_management] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [task_management] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [task_management] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [task_management] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [task_management] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [task_management] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [task_management] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [task_management] SET RECOVERY FULL 
GO
ALTER DATABASE [task_management] SET  MULTI_USER 
GO
ALTER DATABASE [task_management] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [task_management] SET DB_CHAINING OFF 
GO
ALTER DATABASE [task_management] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [task_management] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [task_management] SET DELAYED_DURABILITY = DISABLED 
GO
EXEC sys.sp_db_vardecimal_storage_format N'task_management', N'ON'
GO
ALTER DATABASE [task_management] SET QUERY_STORE = OFF
GO

# [dbo].[Admin_table]

In [0]:
USE [task_management]
GO

In [0]:
/****** Object:  Table [dbo].[Admin_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_table](
	[Admin_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[E_mail] [varchar](50) NULL,
	[Password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Admin_table] PRIMARY KEY CLUSTERED 
(
	[Admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Batch_details_table]

In [0]:
/****** Object:  Table [dbo].[Batch_details_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch_details_table](
	[Batch_details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Batch_Id] [int] NOT NULL,
	[Student_Id] [int] NOT NULL,
 CONSTRAINT [PK_Batch_details_table] PRIMARY KEY CLUSTERED 
(
	[Batch_details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Batch_table]

In [0]:
/****** Object:  Table [dbo].[Batch_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch_table](
	[Batch_Id] [int] IDENTITY(1,1) NOT NULL,
	[Batch_name] [varchar](50) NOT NULL,
	[Batch_creation_date] [datetime] NOT NULL,
	[Batch_start_date] [datetime] NOT NULL,
	[Batch_status] [varchar](50) NOT NULL,
	[Faculty_id] [int] NULL,
	[Student_id] [int] NULL,
	[Technologies_id] [int] NULL,
 CONSTRAINT [PK_Batch_table] PRIMARY KEY CLUSTERED 
(
	[Batch_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[City_table]

In [0]:
/****** Object:  Table [dbo].[City_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_table](
	[City_Id] [int] IDENTITY(1,1) NOT NULL,
	[City_name] [varchar](50) NOT NULL,
	[State_id] [int] NOT NULL,
 CONSTRAINT [PK_City_table] PRIMARY KEY CLUSTERED 
(
	[City_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Faculty_table]

In [0]:
/****** Object:  Table [dbo].[Faculty_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty_table](
	[Faculty_id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[E_mail] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Faculty_table] PRIMARY KEY CLUSTERED 
(
	[Faculty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[State_table]

In [0]:
/****** Object:  Table [dbo].[State_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_table](
	[State_id] [int] IDENTITY(1,1) NOT NULL,
	[State_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_State_table] PRIMARY KEY CLUSTERED 
(
	[State_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Student_table]

In [0]:
/****** Object:  Table [dbo].[Student_table]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_table](
	[Student_Id] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Adddress] [varchar](100) NULL,
	[State_id] [int] NULL,
	[City_id] [int] NULL,
	[Mobile_no] [varchar](12) NULL,
	[Student_status] [varchar](50) NULL,
	[Profile_img] [varchar](50) NULL,
	[Batch_id] [int] NULL,
 CONSTRAINT [PK_Student_table] PRIMARY KEY CLUSTERED 
(
	[Student_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Technologies]

In [0]:
/****** Object:  Table [dbo].[Technologies]    Script Date: 09-08-2022 16:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technologies](
	[Technologies_id] [int] IDENTITY(1,1) NOT NULL,
	[Technologies_name] [varchar](50) NULL,
 CONSTRAINT [PK_Technologies] PRIMARY KEY CLUSTERED 
(
	[Technologies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Admin_table]

In [0]:
SET IDENTITY_INSERT [dbo].[Admin_table] ON 
INSERT [dbo].[Admin_table] ([Admin_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (1, N'yash', N'nakrani', N'yash@gmail.com', N'4422      ')
SET IDENTITY_INSERT [dbo].[Admin_table] OFF
GO

# [dbo].[Batch_table]

In [0]:
SET IDENTITY_INSERT [dbo].[Batch_table] ON 
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (2, N'yash', CAST(N'5465-11-01T00:00:00.000' AS DateTime), CAST(N'2045-04-22T00:00:00.000' AS DateTime), N'actuve', NULL, NULL, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (3, N'yash', CAST(N'5465-11-01T00:00:00.000' AS DateTime), CAST(N'2045-04-22T00:00:00.000' AS DateTime), N'actuve', NULL, NULL, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (4, N'yash', CAST(N'5465-11-01T00:00:00.000' AS DateTime), CAST(N'2045-04-22T00:00:00.000' AS DateTime), N'actuve', NULL, NULL, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (6, N'dcsa', CAST(N'2022-07-27T00:00:00.000' AS DateTime), CAST(N'2022-08-06T00:00:00.000' AS DateTime), N'ACTIVE', NULL, NULL, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (7, N'Testy', CAST(N'2022-08-03T00:00:00.000' AS DateTime), CAST(N'2022-09-01T00:00:00.000' AS DateTime), N'ACTIVE\', 7, 13, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (8, N'Testy', CAST(N'2022-08-03T00:00:00.000' AS DateTime), CAST(N'2022-09-01T00:00:00.000' AS DateTime), N'ACTIVE\', 7, 13, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (11, N'yash baytchbd', CAST(N'2022-08-03T00:00:00.000' AS DateTime), CAST(N'2022-09-08T00:00:00.000' AS DateTime), N'ACTIVE\', 7, 12, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (19, N'Test', CAST(N'2013-02-04T00:00:00.000' AS DateTime), CAST(N'2022-08-04T00:00:00.000' AS DateTime), N'ACTIVE\', 17, 15, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (21, N'Test', CAST(N'2022-08-17T00:00:00.000' AS DateTime), CAST(N'2022-08-31T00:00:00.000' AS DateTime), N'ACTIVE\', 7, 15, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (22, N'Test', CAST(N'2022-08-08T00:00:00.000' AS DateTime), CAST(N'2022-09-08T00:00:00.000' AS DateTime), N'ACTIVE\', 7, NULL, NULL)
INSERT [dbo].[Batch_table] ([Batch_Id], [Batch_name], [Batch_creation_date], [Batch_start_date], [Batch_status], [Faculty_id], [Student_id], [Technologies_id]) VALUES (25, N'yash baytchbd', CAST(N'2022-08-09T15:56:04.207' AS DateTime), CAST(N'2022-08-02T00:00:00.000' AS DateTime), N'ACTIVE\', 7, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Batch_table] OFF
GO

# [dbo].[City_table]

In [0]:
SET IDENTITY_INSERT [dbo].[City_table] ON 
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (1, N'Amreli', 2)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (2, N'Mumbai', 1)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (5, N'Pune', 1)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (6, N'Surat', 2)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (7, N'Vapi', 2)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (10, N'Patna', 2)
INSERT [dbo].[City_table] ([City_Id], [City_name], [State_id]) VALUES (11, N'Rajkot', 2)
SET IDENTITY_INSERT [dbo].[City_table] OFF
GO

# [dbo].[Faculty_table]

In [0]:
SET IDENTITY_INSERT [dbo].[Faculty_table] ON 
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (7, N'yash', N'nakrnai', N'yash@gmail.com', N'4422')
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (12, N'Kinel', N'nakrani', N'k@gmail.com', N'4422')
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (13, N'dharmik', N'nakrani', N'd@gmail.com', N'4422')
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (15, N'jemin', N'nakrani', N'd@gmail.com', N'4422')
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (17, N'yash', N'nakrani', N'd@gmail.com', N'4422')
INSERT [dbo].[Faculty_table] ([Faculty_id], [First_name], [Last_name], [E_mail], [Password]) VALUES (18, N'vikas', N'guna', N'v@gmail.com', N'yash1330')
SET IDENTITY_INSERT [dbo].[Faculty_table] OFF
GO

# [dbo].[State_table]

In [0]:
SET IDENTITY_INSERT [dbo].[State_table] ON 
INSERT [dbo].[State_table] ([State_id], [State_name]) VALUES (1, N'Mahrastra')
INSERT [dbo].[State_table] ([State_id], [State_name]) VALUES (2, N'Gujarat ')
INSERT [dbo].[State_table] ([State_id], [State_name]) VALUES (3, N'Kerala  ')
INSERT [dbo].[State_table] ([State_id], [State_name]) VALUES (4, N'Andhra Pradesh  ')
INSERT [dbo].[State_table] ([State_id], [State_name]) VALUES (5, N'Assam   ')
SET IDENTITY_INSERT [dbo].[State_table] OFF
GO

# [dbo].[Student_table]

In [0]:
SET IDENTITY_INSERT [dbo].[Student_table] ON 
INSERT [dbo].[Student_table] ([Student_Id], [First_name], [Last_name], [Email], [Password], [Adddress], [State_id], [City_id], [Mobile_no], [Student_status], [Profile_img], [Batch_id]) VALUES (12, N'yash', N'nakrani', N'yash.nakrani03@gmail.com', N'4422', N'kjkj', 2, NULL, N'952122455', N'Active', NULL, NULL)
INSERT [dbo].[Student_table] ([Student_Id], [First_name], [Last_name], [Email], [Password], [Adddress], [State_id], [City_id], [Mobile_no], [Student_status], [Profile_img], [Batch_id]) VALUES (13, N'wedw', N'qedw', N'yash.nakrani03@gmail.com', N'4422', N'ghfjtdg', 2, NULL, N'5453', N'active', N'160302e.png', NULL)
INSERT [dbo].[Student_table] ([Student_Id], [First_name], [Last_name], [Email], [Password], [Adddress], [State_id], [City_id], [Mobile_no], [Student_status], [Profile_img], [Batch_id]) VALUES (14, N'yash', N'nakrani', N'vsjbhsjxn', N'kjbjb', N'ih', 1, NULL, N'952122455', N'Active', N'image002.png', NULL)
INSERT [dbo].[Student_table] ([Student_Id], [First_name], [Last_name], [Email], [Password], [Adddress], [State_id], [City_id], [Mobile_no], [Student_status], [Profile_img], [Batch_id]) VALUES (15, NULL, NULL, NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Student_table] ([Student_Id], [First_name], [Last_name], [Email], [Password], [Adddress], [State_id], [City_id], [Mobile_no], [Student_status], [Profile_img], [Batch_id]) VALUES (16, N'parth', N'kotadiya', N'parth@gmail.com', N'4422', N'hghqjb', 1, NULL, N'9784861', N'active', N'DarculaVS.vsix', 3)
SET IDENTITY_INSERT [dbo].[Student_table] OFF
GO

# [dbo].[Technologies]

In [0]:
SET IDENTITY_INSERT [dbo].[Technologies] ON 
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (1, N'.NET')
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (2, N'MVC')
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (3, N'Angular,React Js')
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (4, N'Node js')
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (5, N'Software Testing')
INSERT [dbo].[Technologies] ([Technologies_id], [Technologies_name]) VALUES (6, N'Android')
SET IDENTITY_INSERT [dbo].[Technologies] OFF
GO

# [FK_Batch_details_table_Batch_table]

In [0]:
ALTER TABLE [dbo].[Batch_details_table]  WITH CHECK ADD  CONSTRAINT [FK_Batch_details_table_Batch_table] FOREIGN KEY([Batch_Id])
REFERENCES [dbo].[Batch_table] ([Batch_Id])
GO
ALTER TABLE [dbo].[Batch_details_table] CHECK CONSTRAINT [FK_Batch_details_table_Batch_table]
GO

# [FK_Batch_details_table_Student_table]

In [0]:
ALTER TABLE [dbo].[Batch_details_table]  WITH CHECK ADD  CONSTRAINT [FK_Batch_details_table_Student_table] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student_table] ([Student_Id])
GO
ALTER TABLE [dbo].[Batch_details_table] CHECK CONSTRAINT [FK_Batch_details_table_Student_table]
GO

# [FK_Batch_table_Faculty_table]

In [0]:
ALTER TABLE [dbo].[Batch_table]  WITH CHECK ADD  CONSTRAINT [FK_Batch_table_Faculty_table] FOREIGN KEY([Faculty_id])
REFERENCES [dbo].[Faculty_table] ([Faculty_id])
GO
ALTER TABLE [dbo].[Batch_table] CHECK CONSTRAINT [FK_Batch_table_Faculty_table]
GO

# [FK_Batch_table_Student_table]

In [0]:
ALTER TABLE [dbo].[Batch_table]  WITH CHECK ADD  CONSTRAINT [FK_Batch_table_Student_table] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Student_table] ([Student_Id])
GO
ALTER TABLE [dbo].[Batch_table] CHECK CONSTRAINT [FK_Batch_table_Student_table]
GO

# [FK_Batch_table_Technologies]

In [0]:
ALTER TABLE [dbo].[Batch_table]  WITH CHECK ADD  CONSTRAINT [FK_Batch_table_Technologies] FOREIGN KEY([Technologies_id])
REFERENCES [dbo].[Technologies] ([Technologies_id])
GO
ALTER TABLE [dbo].[Batch_table] CHECK CONSTRAINT [FK_Batch_table_Technologies]
GO

# [FK_City_table_State_table]

In [0]:
ALTER TABLE [dbo].[City_table]  WITH CHECK ADD  CONSTRAINT [FK_City_table_State_table] FOREIGN KEY([State_id])
REFERENCES [dbo].[State_table] ([State_id])
GO
ALTER TABLE [dbo].[City_table] CHECK CONSTRAINT [FK_City_table_State_table]
GO

# [FK_Faculty_table_Faculty_table]

In [0]:
ALTER TABLE [dbo].[Faculty_table]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_table_Faculty_table] FOREIGN KEY([Faculty_id])
REFERENCES [dbo].[Faculty_table] ([Faculty_id])
GO
ALTER TABLE [dbo].[Faculty_table] CHECK CONSTRAINT [FK_Faculty_table_Faculty_table]
GO

# [FK_Student_table_Batch_table]

In [0]:
ALTER TABLE [dbo].[Student_table]  WITH CHECK ADD  CONSTRAINT [FK_Student_table_Batch_table] FOREIGN KEY([Batch_id])
REFERENCES [dbo].[Batch_table] ([Batch_Id])
GO
ALTER TABLE [dbo].[Student_table] CHECK CONSTRAINT [FK_Student_table_Batch_table]
GO

# [FK_Student_table_Student_table1]

In [0]:
ALTER TABLE [dbo].[Student_table]  WITH CHECK ADD  CONSTRAINT [FK_Student_table_Student_table1] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student_table] ([Student_Id])
GO
ALTER TABLE [dbo].[Student_table] CHECK CONSTRAINT [FK_Student_table_Student_table1]
GO

# [FK_Student_table_Student_table2]

In [0]:
ALTER TABLE [dbo].[Student_table]  WITH CHECK ADD  CONSTRAINT [FK_Student_table_Student_table2] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student_table] ([Student_Id])
GO
ALTER TABLE [dbo].[Student_table] CHECK CONSTRAINT [FK_Student_table_Student_table2]
GO

# [task_management]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [task_management] SET  READ_WRITE 
GO